@charset "UTF-8";
@import url(reset.css);
@font-face {
  font-family: "Sans Serif";
  src: url(./assets/fonts/inconsolata/Inter-VariableFont_slnt_wght.ttf) format("TrueType");
}
@font-face {
  font-family: "Serif";
  src: url(./assets/fonts/lora/Lora-VariableFont_wght.ttf) format("TrueType");
}
@font-face {
  font-family: "Mono";
  src: url(./assets/fonts/inconsolata/Inter-VariableFont_slnt_wght.ttf) format("TrueType");
}
:root {
  --FF:"Sans Serif" ;
}

#root {
  inline-size: min(46.0625rem, 90%);
  min-block-size: 100vh;
  margin-inline: auto;
  font-family: var(--FF);
}

header {
  padding-block: 5.3125rem 3.1875rem;
  display: flex;
  justify-content: space-between;
}
header > .logo {
  display: inline-block;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  block-size: auto;
}
header > .options {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  gap: 1.625rem;
}
@media (width < 600px) {
  header > .options {
    gap: 1rem;
  }
}
header > .options > .verticalBar {
  background: #E9E9E9;
  inline-size: 1px;
  block-size: 100%;
}
header > .options > .dropdownFonts {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.125rem;
  cursor: pointer;
}
header > .options > .dropdownFonts > .arrow {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
}
header > .options > .dropdownFonts > .font {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
header > .options > .dropdownFonts > .fontOptions {
  display: grid;
  gap: 1rem;
  position: absolute;
  z-index: 99;
  inset-block: 190% auto;
  inset-inline: auto 0;
  border-radius: 16px;
  background: #FFF;
  padding: 1.5rem;
  min-inline-size: 9.5rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}
header > .options > .dropdownFonts > .fontOptions > p {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
header > .options > .dropdownFonts > .fontOptions > p[data-ff=sf] {
  font-family: "Sans Serif";
}
header > .options > .dropdownFonts > .fontOptions > p[data-ff=s] {
  font-family: "Serif";
}
header > .options > .dropdownFonts > .fontOptions > p[data-ff=m] {
  font-family: "Mono";
}
header > .options > .dropdownFonts > .fontOptions > p.checked, header > .options > .dropdownFonts > .fontOptions > p:hover {
  color: #A445ED;
}
header > .options > .dropdownFonts.open > .arrow {
  transform: rotate(0deg);
}
header > .options > .dropdownFonts.open > .fontOptions {
  opacity: 1;
  pointer-events: auto;
}
header > .options > .themeSwitcher {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  position: relative;
}
header > .options > .themeSwitcher > label {
  flex: 0 0 auto;
  inline-size: 2.5rem;
  block-size: 1.25rem;
  border-radius: 0.625rem;
  position: relative;
  background: #757575;
  cursor: pointer;
}
header > .options > .themeSwitcher > label::after {
  content: "";
  position: absolute;
  block-size: 0.875rem;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  inset-block: 50% auto;
  transform: translateY(-50%);
  inset-inline: 3px auto;
}
header > .options > .themeSwitcher > input {
  inline-size: 0;
  block-size: 0;
  opacity: 0;
  position: absolute;
}
header > .options > .themeSwitcher > input:checked ~ label {
  background: #A445ED;
}
header > .options > .themeSwitcher > input:checked ~ label::after {
  inset-inline: auto 3px;
}
header > .options > .themeSwitcher > input:checked ~ svg {
  color: #A445ED;
}
header > .options > .themeSwitcher > input ~ svg {
  color: #757575;
}

.searchContainer {
  position: relative;
}
.searchContainer.empty > #keywordSearcher:focus {
  border: 1px solid red;
}
.searchContainer.empty::after {
  content: "Whoops, can’t be empty…";
  position: absolute;
  inset-block: 120% auto;
  inset-inline: 0 auto;
  color: red;
}
.searchContainer > #keywordSearcher {
  inline-size: 100%;
  border-radius: 1rem;
  background: #F4F4F4;
  block-size: 4rem;
  border: 1px solid transparent;
  color: #2D2D2D;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  line-height: normal;
  padding-inline: 1.5rem;
  font-family: inherit;
  position: relative;
}
.searchContainer > #keywordSearcher:focus {
  border: 1px solid #A445ED;
}
.searchContainer > .searchIcon {
  position: absolute;
  inset-inline: auto 1.5rem;
  inset-block: 50% auto;
  transform: translateY(-50%);
  pointer-events: none;
}

.errorPage {
  padding-block-start: 8.25rem;
  text-align: center;
}
.errorPage > * {
  margin-block-end: 2.75rem;
}
.errorPage > *:last-child {
  margin-block-end: 0rem;
  margin-block-start: 1.5rem;
}
.errorPage > div {
  font-size: 4rem;
}
.errorPage > h2 {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.errorPage > p {
  color: var(--757575, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  max-inline-size: 400px;
  margin-inline: auto;
}

.wordsResult {
  padding-block: 3.1875rem;
}
.wordsResult > * {
  margin-block-end: 2.6875rem;
}
.wordsResult > *:last-child {
  margin: 0;
}
.wordsResult > .perWord {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.wordsResult > .perWord > .wordHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wordsResult > .perWord > .wordHeader > .texts > h2 {
  color: #2D2D2D;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-block: 0.5rem;
}
.wordsResult > .perWord > .wordHeader > .texts > p {
  color: #A445ED;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.wordsResult > .perWord > .wordHeader > .play {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.wordsResult > .perWord > .wordHeader > .play > audio {
  position: absolute;
  display: inline-block;
  opacity: 0;
  position: absolute;
  inset-inline: 50% auto;
  transform: translateX(-50%);
  pointer-events: none;
}
@media (width < 600px) {
  .wordsResult > .perWord > .wordHeader > .texts > h2 {
    font-size: 32px;
  }
  .wordsResult > .perWord > .wordHeader > .play {
    inline-size: 48px;
    aspect-ratio: 1;
  }
  .wordsResult > .perWord > .wordHeader > .play > img {
    max-inline-size: 100%;
  }
}
.wordsResult > .perWord > .partOfSpeech {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.wordsResult > .perWord > .partOfSpeech > h3 {
  color: #2D2D2D;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.wordsResult > .perWord > .partOfSpeech > hr {
  flex: 1 1 0;
}
.wordsResult > .perWord > ul > h3 {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 1.5625rem;
}
.wordsResult > .perWord > ul li {
  margin-block-end: 0.8125rem;
  position: relative;
  padding-inline-start: 2.9375rem;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.wordsResult > .perWord > ul li::after {
  content: "";
  inline-size: 0.3125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #8F19E8;
  position: absolute;
  inset-inline: 1.46875rem auto;
  inset-block: 0.625rem auto;
}
.wordsResult > .perWord > ul li:last-child {
  margin: 0;
}
.wordsResult > .perWord > ul li > .definition {
  color: #2D2D2D;
}
.wordsResult > .perWord > ul li > .definition.ex {
  margin-block-end: 0.8125rem;
}
.wordsResult > .perWord > ul li > .example {
  color: #757575;
}
.wordsResult > .perWord > ul li > .example > q {
  quotes: "“" "”" "‘" "’";
}
.wordsResult > .perWord > ul li > .example > q::after {
  content: close-quote;
}
.wordsResult > .perWord > ul li > .example > q::before {
  content: open-quote;
}
.wordsResult > .perWord > .syno {
  color: var(--757575, #757575);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
.wordsResult > .perWord > .syno > .results {
  margin-inline-start: 1.375rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: #A445ED;
  font-weight: 700;
}
.wordsResult > .perWord > .syno > .results > * {
  margin-inline-end: 1rem;
  cursor: pointer;
}
.wordsResult > .perWord > .source {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
.wordsResult > .perWord > .source > * {
  text-decoration-line: underline;
}
.wordsResult > .perWord > .source > a {
  margin-inline-start: 1.25rem;
  display: inline-flex;
  gap: 1rem;
  align-items: baseline;
  color: #757575;
}
.wordsResult > .perWord > .source > a::after {
  content: url(./assets/images/icon-new-window.svg);
}
.wordsResult > .perWord > .source > a:hover {
  color: #A445ED;
}

[data-theme=dark] body {
  background-color: #050505;
}

[data-theme=dark] #keywordSearcher {
  background-color: #1F1F1F;
  color: #FFF;
}

[data-theme=dark] .dropdownFonts {
  color: #FFF;
}
[data-theme=dark] .dropdownFonts > .fontOptions {
  background: var(--1-f-1-f-1-f, #1F1F1F) !important;
  box-shadow: 0px 5px 30px 0px #A445ED !important;
}

[data-theme=dark] .wordHeader > .texts > h2 {
  color: #fff !important;
}

[data-theme=dark] .partOfSpeech > h3 {
  color: #fff !important;
}

[data-theme=dark] ul > li > .definition {
  color: #fff !important;
}

[data-theme=dark] .source > a {
  color: #fff !important;
}
[data-theme=dark] .source > a:hover {
  color: #A445ED !important;
}

[data-theme=dark] .errorPage > h2 {
  color: #fff !important;
}/*# sourceMappingURL=app.css.map */